[project]
	description = Just for test, no work on.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vo Binh Nguyen (binhnguyenvo)
[access "refs/for/refs/*"]
	read = group user/Vo Binh Nguyen (binhnguyenvo)
	push = group user/Vo Binh Nguyen (binhnguyenvo)
	label-Code-Review = -2..+2 group user/Vo Binh Nguyen (binhnguyenvo)
	label-Verified = -1..+1 group user/Vo Binh Nguyen (binhnguyenvo)
	rebase = group user/Vo Binh Nguyen (binhnguyenvo)
	removeReviewer = group user/Vo Binh Nguyen (binhnguyenvo)
	submit = group user/Vo Binh Nguyen (binhnguyenvo)
[access "refs/heads/*"]
	read = group user/Vo Binh Nguyen (binhnguyenvo)
	create = group user/Vo Binh Nguyen (binhnguyenvo)
	push = +force group user/Vo Binh Nguyen (binhnguyenvo)
	pushMerge = group user/Vo Binh Nguyen (binhnguyenvo)
[access "refs/tags/*"]
	push = +force group user/Vo Binh Nguyen (binhnguyenvo)
	pushTag = group user/Vo Binh Nguyen (binhnguyenvo)
	pushSignedTag = group user/Vo Binh Nguyen (binhnguyenvo)
